name: build

on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main
  schedule:
    - cron: '0 6 * * 1' # weekly (every monday at 6 am UTC)

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: '>=1.25'
          check-latest: true
      - name: install deps
        run: |
          go install honnef.co/go/tools/cmd/staticcheck@latest
      - run: go build -v ./...
      - run: go test -v ./...
      - run: go vet ./...
      - run: staticcheck ./...
